

#ignore the folder and its contents
.ipynb_checkpoints/

#ignore all npz files in folder
*.npz


#.gitignore to even ignore this file in git

#ignore the folder and its contents
__pycache__/
path/export.pkl

.ipynb_checkpoints/
